body {
  background-image: url('images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  margin: auto;
}
.main {
  margin: auto;
  max-width: 740px;
}
.attribution{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
}