/* You can add global styles to this file, and also import other style files */
:root {
  /** layout **/
  --mobile-size: 375px;
  --desktop-size: 1440px;
  /** primary color **/
  --bright-blue: hsl(220, 98%, 61%);
  --bcg-gradient: hsl(192, 100%, 67%);

  /** Light Theme **/
  --very-Light-Gray: hsl(0, 0%, 98%);
  --very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --light-Grayish-Blue: hsl(233, 11%, 84%);
  --dark-Grayish-Blue: hsl(236, 9%, 61%);
  --very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  /** Dark Theme **/
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue--hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-size: 18px;
  font-family: "Josefin_Sans_reg";
  max-height: 100vh;
  max-width: 1440px;
  background-color: aquamarine;
  margin: auto;
}

@font-face {
  font-family: "Josefin_Sans_reg";
  font-weight: 400;
  src: url("fonts/Josefin_Sans/static/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "Josefin_Sans_semibold";
  font-weight: 700;
  src: url("fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf");
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
