/* header */
.header {
  padding: 80px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--very-Light-Gray);
}
.header__darkmode {
}

/* lightmode / darkmode*/
.light {
  background-color: white;
}
/* common */
.tile {
  margin: 20px 0px 20px 0px;
  border-radius: 5px;
}
/* form */
.todoform {
  padding: 20px;
}
.todoform input {
  border: none;
}
.todoform input {
  border: none;
}

/** todolist **/
.todolist__item {
  padding: 20px;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.complete {
}
/* https://stackoverflow.com/questions/1120879/css-checkbox-input-styling*/
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
}
input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #1e80ef;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
.badge {
  display: none;
}
.delete {
  display: none;
}
.item_label {
  margin-left: 20px;
}
.item_label_completed {
  text-decoration: line-through;
  opacity: 0.3;
}
.todonav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px;
}
.nav_item:hover {
  cursor: pointer;
}
.navfilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

/* footer */
.footer {
  margin-top: 60px;
  text-align: center;
}

/* -------------- */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
