<header class="header">
  <h1 class="header__title">Todo</h1>
  <span class="header__darkmode">
    <app-dark-mode-toggle #darkmodeToggle></app-dark-mode-toggle>
  </span>
</header>

<div class="todoform todolist__item tile"
  [ngClass]="{'dark' : darkmodeToggle.getDarkmodeValue(), 'light':!darkmodeToggle.getDarkmodeValue()}">
  <input type="checkbox" class="complete" disabled>
  <input id="new-todo" #todoName placeholder="Create a new todo..." class="item__label"
    (keydown.enter)="add(todoName.value); todoName.value=''" />
</div>

<div class="todolist tile"
  [ngClass]="{'dark' : darkmodeToggle.getDarkmodeValue(), 'light':!darkmodeToggle.getDarkmodeValue()}" cdkDropList
  (cdkDropListDropped)="reorderList($event)">
  <div *ngFor="let todo of showTodos" class="todolist__item"
    [ngClass]="{'dark' : darkmodeToggle.getDarkmodeValue(), 'light':!darkmodeToggle.getDarkmodeValue()}" cdkDrag>
    <div class="complete">
      <input type="checkbox" name="complete" class="complete" (change)="setCompleted()" value="{{todo.complete}}"
        [(ngModel)]="todo.complete">
    </div>
    <div class="todo__item">
      <div class="item__label" [ngClass]="{'item__label--completed' : todo.complete}">{{todo.name}}</div>
      <div class="delete" title="delete todo" (click)="delete(todo)"></div>
    </div>
  </div>

  <nav class="todonav">
    <div class="todonav__item nav__item nav__left">
      {{this.completeCount}} items left
    </div>
    <div class="todonav__item ">
      <ul class="navfilter">
        <li class="nav__item" [ngClass]="{'nav__item--active' : filterID==0}" (click)="sortAll()">All</li>
        <li class="nav__item" [ngClass]="{'nav__item--active' : filterID==1}" (click)="sortActive()">Active</li>
        <li class="nav__item" [ngClass]="{'nav__item--active' : filterID==2}" (click)="sortCompleted()">Completed</li>
      </ul>
    </div>
    <div class="todonav__item nav__item" (click)="clearComplete()">
      Clear Completed
    </div>
  </nav>
</div>

<footer class="footer">
  Drag and drop to reorder list
</footer>