/* header */
.header {
  padding: 80px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--very-Light-Gray);
}

/* form */
.todolist {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tile {
  margin: 20px 0px 20px 0px;
  border-radius: 5px;
  border: 1px solid var;
}
.todolist__item {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.todolist__item:hover .delete {
  visibility: visible;
}
.todo__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.badge {
  display: none;
}
.delete {
  visibility: hidden;
  background-image: url("../images/icon-cross.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.item__label {
  margin-left: 30px;
}
.item__label--completed {
  text-decoration: line-through;
  opacity: 0.3;
}

/* todonav */
.todonav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.nav__item {
  font-size: 15px;
}
.navfilter:hover {
  cursor: pointer;
}
.navfilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  font-weight: bolder;
}
.nav__left:hover {
  font-weight: normal;
}
.todonav__item {
  font-size: 15px;
}

/* footer */
.footer {
  margin-top: 60px;
  text-align: center;
  opacity: 0.5;
  font-size: 15px;
}

/* -----drag & drop--------- */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
  /*transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);*/
  visibility: hidden;
}
