/* header */
.header {
  padding: 80px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--very-Light-Gray);
}
.header__darkmode {
}

/* lightmode / darkmode*/
.light {
  background-color: white;
}
/* common */
.tile {
  margin: 20px 0px 20px 0px;
  border-radius: 5px;
}
/* form */
.todoform {
  padding: 20px;
}
.todoform input {
  border: none;
}
.todoform input {
  border: none;
}

/** todolist **/
.todolist__item {
  padding: 20px;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
}
.complete {
}
.badge {
  display: none;
}
.delete {
  display: none;
}
.item_label {
  margin-left: 20px;
}

.todonav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px;
}
.nav_item:hover {
  cursor: pointer;
}
.navfilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

/* footer */
.footer {
  margin-top: 60px;
  text-align: center;
}

/* -------------- */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
