/* common */
.tile {
  margin: 20px 0px 20px 0px;
  border-radius: 5px;
  border: 1px solid var;
}
/* https://stackoverflow.com/questions/1120879/css-checkbox-input-styling*/
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
}
input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #1e80ef;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
/* header */
.header {
  padding: 80px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--very-Light-Gray);
}

/* form */
.todoform input {
  border: none;
}
.todoform input:focus {
  outline: none;
}

/** todolist **/
.todolist__item {
  padding: 20px;
  border-bottom: 1px solid var(--light-Grayish-Blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.todolist__item:hover .delete {
  visibility: visible;
}
.todo__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.badge {
  display: none;
}
.delete {
  visibility: hidden;
  background-image: url("../images/icon-cross.svg");
  background-repeat: no-repeat;
  width: 20px;
}
.todo__item:hover .delete {
  visibility: visible;
}
.item__label {
  margin-left: 30px;
}
.item__label--completed {
  text-decoration: line-through;
  opacity: 0.3;
}

/* todonav */
.todonav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px;
}
.nav__item:hover {
  cursor: pointer;
}
.nav__item--active {
  font-weight: bold;
  color: var(--bright-blue);
}
.navfilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.navfilter .nav__item:hover {
  font-weight: bold;
}
.nav__left {
  opacity: 0.5;
}

/* footer */
.footer {
  margin-top: 60px;
  text-align: center;
  opacity: 0.5;
}

/** light **/

/* tile */
.light.tile {
  background-color: var(--very-Light-Gray);
  border: 1px solid var(--light-Grayish-Blue);
}

/** dark **/

.dark.tile {
  background-color: var(--Very-Dark-Desaturated-Blue);
  border: 1px solid var(--Very-Dark-Grayish-Blue);
}
.dark .todo__item {
  color: var(--Light-Grayish-Blue);
}

/* -----drag & drop--------- */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
