<header class="header">
  <h1 class="header__title">Todo</h1>
  <span class="header__darkmode">darkmode</span>
</header>

<div class="todoform tile light">
  <input type="checkbox" disabled>
  <input id="new-todo" #todoName placeholder="Create a new todo..." class="item_label"
    (keydown.enter)="add(todoName.value); todoName.value=''" />
</div>


<div class="todolist tile light">
  <div *ngFor="let todo of showTodos" class="todolist__item">
    <div class="complete">
      <input type="checkbox" name="complete" class="complete" (change)="setCompleted()" value="{{todo.complete}}"
        [(ngModel)]="todo.complete">
      <span class="badge">{{todo.id}}</span>
      <button class="delete" title="delete todo" (click)="delete(todo)">x</button>
    </div>
    <div class="item_label">{{todo.name}}</div>
  </div>

  <nav class="todonav">
    <div class="todonav__item nav_item">
      {{this.completeCount}} items left
    </div>
    <div class="todonav__item ">
      <ul class="navfilter">
        <li class="nav_item" (click)="sortAll()">All</li>
        <li class="nav_item" (click)="sortActive()">Active</li>
        <li class="nav_item" (click)="sortCompleted()">Completed</li>
      </ul>
    </div>
    <div class="todonav__item nav_item" (click)="clearComplete()">
      Clear Completed
    </div>
  </nav>
</div>

<footer class="footer">
  Drag and drop to reorder list
</footer>